# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.angular/
apps/web/.angular/
apps/*/dist/

# env
.env
.env.local
*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json

# testing
coverage/

# Playwright
apps/web/test-results/
apps/web/playwright-report/
